<div class="postition">
  <div class="box">
    <div class="contenedor">
      <h3 class="tituloagregar">Agregar Novedades
      </h3>
      <form action="/admin/novedades/agregar" method="post">
        <div class="input-box">
          <input type="text" id="titulo" name="titulo" />
          <label for="titulo">titulo</label>
        </div>
        <div class="input-box">
          <textarea type="text" id="subtitulo" name="subtitulo" ></textarea>
            <label for="subtitulo">subtitulo</label>
          </textarea>
        </div>
        <div class="input-box">
          <textarea type="text" id="cuerpo" name="cuerpo" ></textarea>
          <label for="cuerpo">Contenido</label>

        </div>

        <div class="login-box">
          <input type="submit" value="Guardar" />
        </div>
        {{#if message}}
        <p>{{message}}</p>
      {{/if}}

      </form>
      

    </div>
  </div>
</div>