<div class="postition">
  <div class="box">
    <div class="contenedor">
      <h2>bienvenido a novedades {{usuario}}!!</h2>
      <p>ya puedes cargar las nuevas novedades</p>
      <form action="/admin/login" method="post">
        <div class="input-box">
          <input type="text" id="usuario" name="usuario" required />
          <label for="usuario">Nombre de usuario</label>
        </div>
        <div class="input-box">
          <input type="password" id="password" name="password" required />
          <label for="password">Contraseña</label>
        </div>
        <div class="login-box">
          <input type="submit" value="Enviar" />
        </div>
        <!-- <p class="forget">olvido su clave? <a href="#">Click aca</a></p>
        <p class="forget">no esta registrado? <a href="#">registrarse</a></p>-->

      </form>
      <a href="">Cerrar sesion<i class="fas fa-sign-out-alt"></i></a>
    </div>

  </div>
</div>